<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
        <header>
            <div th:replace="~{/layout/fragments :: pageHeader(${employee.ename} + ' 상세보기')}"></div>
        </header>
            <div th:each="emp : employee" th:object="${employee}">
                사번: <span th:text="*{id}"></span>
                <br/>
                이름: <span th:text="*{ename}"></span>
                <br/>
                직무: <span th:text="*{job}"></span>
                <br/>
                매니저: <span>
                            <th:block th:if="*{manager != null}"> <!-- th:block은 실제 html 에 영향을 끼치지 않으며 개발자도구에도 감춰진다. -->
                                <a th:text="*{manager.ename}" th:href="@{/employee/details/{id}(id=*{manager.id})}"></a>
                            </th:block>
                            <th:block th:if="*{manager == null}">
                                ---
                            </th:block>
                        </span>
                <br/>
                입사일: <span th:text="*{hiredate}"></span>
                <br/>
                급여: <span th:text="*{salary}"></span>
                <br/>
                수당: <span th:text="*{commission}"></span>
                <br/>
                부서: <span>
                 <a th:text="*{department.dname}" th:href="@{/department/details/{id}(id=*{department.id})}"></a>
                 </span>
            </div>
		
	</body>
</html>