<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Spring Boot 3</title>
        <th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
	</head>
	<body>
        <div th:replace="~{/layout/fragments :: pageHeader('Employees List Page')}">
        </div>
        <main class="mt-2">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>사번</th>
                        <th>이름</th>
                        <th>연락처</th>
                        <th>직무</th>
                        <th>부서</th>
                    </tr>
                </thead>
                    <tr th:each="emp : ${page}" th:object="${emp}">
                        <td>
                            <a th:text="*{employeeId}" th:href="@{/employee/details/{id}(id=*{employeeId})}"></a>
                        </td>
                        <td>
                            <a th:text="*{employeeName}" th:href="@{/employee/details/{id}(id=*{employeeId})}"></a>
                        </td>
                        <td th:text="*{phoneNumber}"></td>
                        <td th:text="*{jobTitle}" ></td>
                        <td th:text="*{departmentName}" ></td>
                    </tr>

                    
                <tbody>
                </tbody>
            </table>
            <div class="mt-2">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!page.hasPrevious} ? 'disabled'">
                        <a class="page-link" th:href="@{|?p=${page.number - 1}|}">이전</a>
                    </li>
                    <!--  현재 페이지를 기준으로 이전 페이지는 최대 5개, 이후 페이지는 최대 4개까지 보여주겠다는 조건문을 넣어줌  -->
                    <li class="page-item" th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}" th:if="${pageNo >= page.number -5 && pageNo < page.number + 4}"
                    th:classappend="${pageNo == page.number} ? 'active'">
                        <a class="page-link" th:text="${pageNo + 1}" th:href="@{|?p=${pageNo}|}"></a>
                    </li>
                    <li class="page-item" th:classappend="${!page.hasNext} ? 'disabled'">
                        <a class="page-link" th:href="@{|?p=${page.number + 1}|}">다음</a>
                    </li>
                </ul>
            </div>
        </main>
		<th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
	</body>
</html>