<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
<th:block th:replace="~{/layout/fragments :: documentHeader}"></th:block>
</head>
<body>
    <th:block
        th:replace="~{/layout/fragments :: pageHeader('post details')}"></th:block>
    <main>
        <div class="card">
            <div class="card-body" th:object="${post}">
                <div class="mt-2">
                    <label for="id" class="form-label">글 번호</label>
                    <input id="id" class="form-control" type="text" th:value="*{id}" readonly>
                </div>
            
                <div class="mt-2">
                    <label for="title" class="form-label">제목</label>
                    <input id="title" class="form-control" type="text" th:value="*{title}" readonly>
                </div>

                <div class="mt-2">
                    <label for="content" class="form-label">내용</label>
                    <textarea id="content" class="form-control" rows="5" th:text="*{content}" readonly> </textarea>
                </div>
                <div class="mt-2">
                    <label for="author" class="form-label">작성자</label> 
                    <input id="author" class="form-control" type="text" th:value="*{author}" readonly>
                </div>
                <div class="mt-2">
                    <label for="createdTime" class="form-label">작성시간</label> 
                    <input id="createdTime" class="form-control" type="text" th:value="*{#temporals.format(createdTime, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                </div>
                <div class="mt-2">
                    <label for="modifiedTime" class="form-label">수정시간</label> 
                    <input id="modifiedTime" class="form-control" type="text" th:value="*{#temporals.format(modifiedTime, 'yyyy-MM-dd HH:mm:ss')}" readonly>
                </div>
                
                <!-- 포스트 작성자 아이디와 로그인 사용자 아이디가 같으면 버튼을 보여줌. -->
                <div class="mt-2" th:if="*{author eq #authentication.name}">
                    <a class="btn btn-success form-control" th:href="@{/post/modify(id=*{id})}">수정하기</a>
                </div>
                
            </div>
            
        </div>
    </main>
    
    <!-- 댓글 작성/목록 Collapse -->
    <div class="mt-2 card">
        <div class="card-header">
            <button class="btn btn-outline-secondary" id="btnToggle" data-toggle="collapse">댓글 보기</button>
        </div>
        
        <div class="card-body collapse" id="collapseComments">
            <!-- 댓글 작성 -->
            <div class="row">
                <div class="col-10">
                    <textarea class="form-control" id="commentText" rows="3" placeholder="댓글 내용 작성"></textarea>
                    
                    <!-- 댓글 작성자를 로그인 사용자 이름으로 설정 -->
                    <input class="d-none" id="commentWriter" th:value="${#authentication.name}" readonly />
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-success form-control" id="btnRegisterComment">등록</button>
                </div>
            </div>
            
            <!-- 댓글 목록 -->
            <div class="mt-2" id="divComments"></div>
            
            <!-- 댓글 목록 페이징 처리를 위한 버튼: [더보기] 버튼 -->
                <div id="divBtnMore" class="mt-2 d-flex d-none justify-content-center">
                    <button class="btn btn-outline-secondary" id="btnMoreComments">더보기</button>
                </div>
        </div>
    </div>

    <!-- Boorstrap 자바스크립트 -->
    <th:block th:replace="~{/layout/fragments :: bootstrapJS}"></th:block>
    
    <!-- Ajax를 사용하기 위한 axios 자바스크립트 라이브러리 Ajax(통신하는 기술의 이름) Axios(Ajax기능을 사용 할 수 있도록 라이브러리 이름) -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <!-- 댓글 기능을 위한 자바 스크립트 -->
    <script th:src="@{/js/comments.js}"></script>
</body>
</html>